.wrap {
  position: relative;
}

.footer {
  background-color: #e0e0e0;
}

.navbar {
  display: flex;
}

.usr-dashboard{
  text-decoration: none;
  color: #e0e0e0;
}

.dropdown-toggle::after .usr-dashboard{
  display: none;
}

.unica-logo {
  width: 5%;
}

.footer-link .nav-link{
  color: #003353;
}

.footer-link .nav-link:hover{
  color: #7393ec;
  text-decoration: underline;
}