.wrap {
  position: relative;
}

.side-menu{
  position: fixed;
  background: #043858;
  top: 56px;
  height: 1000px;
}
.main-info{
  position: fixed;
  background-color: aquamarine;
  top: 56px;
  left: 23.6em;
  width: 100%;
}

.footer {
  background-color: #e0e0e0;
  width: 100%;
  position: fixed;
  top: 474px;
}

.navbar {
  display: flex;
}

.usr-dashboard{
  text-decoration: none;
  color: #e0e0e0;
}

.dropdown-toggle::after .usr-dashboard{
  display: none;
}

.unica-logo {
  width: 5%;
}

.footer-link .nav-link{
  color: #003353;
}

.footer-link .nav-link:hover{
  color: #7393ec;
  text-decoration: underline;
}