.wrap{
  background-color: white;
  width: 99vw;
  height: 100vh;
  display: block;
  margin: 0%;
  
}
.header .navbar{
  height: 5%;
  position: static !important;
}
.wrap .header .mobile{
  display: none;
}
.wrap .sidebar .mobile{
  display: none;
}
.sidebar{
  background: #043858;
  width: 25%;
  height: 100%;
  float: left;
  z-index: 1;
  display: inline;
}
.sidebar #side-menu{
  display: inline;
}

.wrap .card {
  width: 93%;
  height: 94%;
  margin: 2%;
}
.wrap .card .card-body{
  overflow-y: auto;
}
.main{
  background-color: transparent;
  width: 75%;
  height: 95%;
  float: right;
}

.wrap .ft{
  background-color: #e0e0e0;
  position: static;
  clear: both;
}
.unica-logo {
  width: 5%;
}

.footer-link .nav-link{
  color: #003353;
}

.footer-link .nav-link:hover{
  color: #7393ec;
  text-decoration: underline;
}
.wrap ul.accordion {
  width: 100%;
  background: transparent;
  display: block;
  padding-left: 5%;
  padding-top: 4%;
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: inline-block;
  padding: 15px 15px 15px 42px;
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #303030;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 95%;
}
.wrap ul.accordion li .link:active, .wrap ul.accordion li .link:focus, .wrap ul.accordion li .link:hover{
  background-color: #044065;
}
.wrap ul.accordion li:not(open) last-child .link {
  border-bottom: 0;
}
.wrap ul.accordion li i {
  position: absolute;
  top: 14px;
  left: 12px;
  font-size: 18px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li i.bi-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.wrap ul.accordion li.open .link {
  color: #A0D3E8;
}
.wrap ul.accordion li.open i {
  color: #A0D3E8;
}
.wrap ul.accordion li.open i.bi-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap ul.accordion ul.submenu {
  display: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
}
.wrap ul.accordion ul.submenu li {
  border-bottom: 1px solid #4b4a5e;
  list-style: none;
}
.wrap ul.accordion ul.submenu li a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.wrap ul.accordion ul.submenu li a:hover { 
  background:#486C68;
  color: #A0D3E8;
}

.img-escudo{
  width: 100px;
  height: 100px;
}
.logos{
  font-size: 20px;
  float: none;
}

.navbar {
  display: flex;
}

.usr-dashboard{
  text-decoration: none;
  color: #e0e0e0;
}

.dropdown-toggle::after .usr-dashboard{
  display: none;
}

.message{
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 16px;
}

@media screen and (min-width: 768px) and (max-width: 992px){
  .sidebar{
    height: 100%;
    overflow-y: auto;
    display: inline;
  }
  .sidebar #side-menu{
    display: inline;
  }
  .wrap ul.accordion .link {
    font-size: 12px;
    font-weight: 650;
  }
  .wrap .header .mobile{
    display: none;
  }
  .wrap .sidebar .mobile{
    display: none;
  }
}

@media screen and (min-height:480px) and (max-height:600px){
  .sidebar{
    height: 100%;
    overflow-y: auto;
    display: inline;
  }
  .sidebar #side-menu{
    display: inline;
  }
  
  .wrap ul.accordion .link {
    font-size: 13px;
    font-weight: 650;
  }
  .wrap ul.accordion ul.submenu {
    font-size: 12px;
  } 
  .wrap .header .mobile{
    display: none;
  }

  .wrap .sidebar .mobile{
    display: none;
  }
}

@media screen and (min-width: 360px) and (max-width: 414px){
  .sidebar{
    background: #043858;
    display: none;
  }
  .sidebar #side-menu{
    display: none;
  }
  .wrap .main{
    width: 100%;
  }
  .card a{
    font-size: 12px;
    width: 110px;
    height: auto;
    margin-bottom: 13px;
  }
  .card .row {
    display: inline-block; 
  }
  .wrap .header .mobile{
    display: inline;
  }
  .wrap .sidebar .mobile{
    display: inline;
  }
}